<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Database</title>
    <link rel="icon" href="icons8-database-16.png" type="image/x-icon">
    
</head>

<body>
    <style>
        footer{
            font-weight: 500;
        }
        span{
            color: #198753;
        }
        #current-user{
            color: #dd3444;
            margin: 2em;
            margin-top: 5em;
            margin-bottom: 1em;
            font-size: 1.25em;
            font-weight: bold;
        }
        
    </style>
    <nav class="navbar fixed-top navbar-expand-lg bg-dark" id="click">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style="color: white; margin-right: 2em;">Live Database</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/login" style="color: white;">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register" style="color: white;">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/database" style="color: white;">View Database</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onClick="logOut();" style="cursor:pointer;color:white;"
                        style="color: white;">Log Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h5 id="current-user">

    </h5>
    <div class="container">
        {{{body}}}
    </div>
    <footer>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" target="_blank"aria-current="page" href="https://github.com/JacobRosey/LiveDatabase">Github</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Jacob_Rosey_Resume.pdf" download>Resume</a>
            </li>
        </ul>
    </footer>
</body>

</html>