<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quick Ticket</title>
    <link rel="icon" href="quick.png" type="image/x-icon">
</head>

<body>
    <style>
        footer{
            font-weight: 500;
        }
        span{
            color: #198753;
        }
        .btn{
            height: 48px;
            width: auto;
            text-align: center;
            margin: .25em;
            line-height: 12px!important;
        }
        #team-link{
            background-color: #ff914c;
        }
        #team-link:hover, #team-link:focus, #team-link:active{
            background-color: rgb(216, 114, 51);
            height: 36px;
            width: auto;
        }
        .nav-link{
            font-weight: bolder;
        }
        
    </style>
    <nav class="navbar fixed-top navbar-expand-lg bg-dark" id="click">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style="color: white; margin-right: 2em;">
            <img src="quick.png"width="128" height="64" class="d-inline-block align-top" alt="logo" style="margin-right:.5em;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <button type="button" class="btn btn-primary"><a class="nav-link active" aria-current="page" href="/login" style="color: white;">Log In</a></button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-success"><a class="nav-link" href="/register" style="color: white;">Register</a></button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn" id="team-link"><a class="nav-link" href="/team" style="color: white;">My Team</a></button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-danger"><a class="nav-link" onClick="logOut();" style="cursor:pointer;color:white;"
                        style="color: white;">Log Out</a></button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {{{body}}}
    </div>
    <footer>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" target="_blank"aria-current="page" href="https://github.com/JacobRosey/LiveDatabase">Github</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Jacob_Rosey_Resume.pdf" download>Resume</a>
            </li>
        </ul>
    </footer>
</body>

</html>