<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quick Ticket</title>
    <link rel="icon" href="quick.png" type="image/x-icon">
</head>

<body>
    <style>
        footer {
            font-weight: 500;
            width: 100vw;
        }

        span {
            color: #198753;
        }

        .btn {
            height: 48px;
            width: auto;
            text-align: center;
            margin: .25em;
            line-height: 24px !important;
        }

        .col .py-3 {
            background-color: #d2d2d2;
        }

        .card-body {
            background-color: rgb(255, 255, 255);
        }

        .fs-4 {
            color: #ff914c
        }

        span {
            color: black;
        }

        .nav-item .nav-link {
            font-weight: bolder;
            color: #ff914c;
        }

        .bi {
            color: #ff914c;
            margin-right: .25em;
        }

        #side-nav-links {
            margin-top: 4em;
        }

        #side-nav {
            background-color: #f7f7f7;
        }

        #user-drop {
            position: fixed;
            bottom: 3em;
        }

        .container {
            margin-top: 3em;
        }

        #breadcrumb-container {
            float: right;
            margin-bottom: 1em;
            text-decoration: underline;
        }
    </style>
    <nav class="navbar navbar-expand-lg bg-dark" id="click">
        <div class="container-fluid">
            <a class="navbar-brand ms-auto" onClick="clickedLogo();">
                <img src="quick.png" width="96" height="48" class="d-inline-block align-center" alt="logo">
            </a>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" id="side-nav" style="background-color: #f7f7f7;">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
                    id="side-nav-links">
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                        id="menu">
                        <li class="nav-item">
                            <a href="/home" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline"
                                    id="home">Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle" id="tickets-submenu" style="cursor: pointer;">
                                <i class="fs-4 bi-ticket-perforated"></i> <span class="ms-1 d-none d-sm-inline"
                                    id="tickets">Tickets</span> </a>
                            <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="/newticket" class="nav-link px-0"> <i class="bi bi-plus-circle" style="margin-right: 10px;"></i><span
                                            class="d-none d-sm-inline" id="newticket">New Ticket</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/mytickets" class="nav-link px-0"><i class="bi bi-tag"></i> <span
                                            class="d-none d-sm-inline" id="mytickets">My Tickets</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/opentickets" class="nav-link px-0"><i class="bi bi-circle"></i></i> <span
                                            class="d-none d-sm-inline" id="opentickets">Open Tickets</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/closedtickets" class="nav-link px-0"><i class="bi bi-x-circle" style="margin-right: 10px;"></i><span
                                            class="d-none d-sm-inline" id="closedtickets">Closed
                                            Tickets</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/team" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline" id="team">My
                                    Teams</span>
                            </a>
                        </li>
                        <hr>
                        <div class="dropdown pb-4" id="user-drop" style="z-index: 999;">
                            <a href="#"
                                class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                                id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="profimg.png" alt="profilepic" width="30" height="30" class="rounded-circle">
                                <span class="d-none d-sm-inline mx-1" id="userN">Username</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow"
                                aria-labelledby="dropdownUser1">
                                <li><a class="dropdown-item" href="/newticket">New Ticket</a></li>
                                <li><a class="dropdown-item" href="/mytickets">My Tickets</a></li>
                                <li><a class="dropdown-item" href="/performance" id="performance">Performance</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" onClick="logOut();">Sign out</a></li>
                            </ul>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="col py-3">
                <div class="container">
                    <div id="breadcrumb-container">

                    </div>
                    {{{body}}}
                </div>
            </div>
        </div>
    </div>

    <footer>
        <ul class="nav justify-content-center bg-dark">
            <li class="nav-item">
                <a class="nav-link" target="_blank" aria-current="page"
                    href="https://github.com/JacobRosey/quick-ticket">Github</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Jacob_Rosey_Resume.pdf" download>Resume</a>
            </li>
        </ul>
    </footer>
</body>

</html>